.card-container {
    border: 1px solid black;
    border-radius: 10px;
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
}